body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f3f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.expenseManager{
  width:50%;
  margin: auto;
  padding:20px;
}
.expenseManagerFooter{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 50%;
}

@media only screen and (max-width:1024px){
  .expenseManager{
    width:90%;
  }
}